.navigation {
  margin: auto;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* .navigation__item {

} */

.navigation__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.38;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.navigation__link_type_home {
  display: none;
}

.navigation__link_type_saved-movies {
  font-weight: 400;
}

.navigation__link_type_profile {
  padding: 7px 43px 7px 0;
  background-image: url("../../images/profile-icon.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.navigation__link:hover{
  opacity: .7;
}