.burger__button {
  display: none;
  box-sizing: border-box;
  width: 44px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.burger__button:hover {
  opacity: .7;
}

@media screen and (max-width: 860px) {
  .burger__button {
    display: block;
  }
}