.saved-movies {
  flex-grow: 1;
  padding: 60px 0 80px;
}

@media screen and (max-width: 1200px) {
  .saved-movies {
    padding: 80px 30px 80px;
  }
}

@media screen and (max-width: 600px) {
  .saved-movies {
    padding: 50px 10px 80px;
  }
}