.navtab {
  padding: 24px 0 24px;
  background-color: var(--teach-nav-bg-color);
}

.navtab__list {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navtab__item {

}

.navtab__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  color: inherit;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.navtab__link:hover{
  opacity: .7;
}