.promo {
  padding: 184px 0 224px;
  background-color: var(--promo-bg-color);
  background-image: url("../../../images/hero-background.png");
  background-position: center;
  background-repeat: no-repeat;
}

.promo__title {
  margin: 0 auto;
  max-width: 730px;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
}