@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter/inter.css);

:root {
  --main-bg-color: #202020;
  --hero-bg-color: #073042;
  --teach-nav-bg-color: #272727;
  --main-text-color: #fff;
}
